* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li,h1,h2,h3,p{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
body{
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #000;
}

@mixin btn {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgb(13, 78, 135);
    padding: 5px 20px 5px 40px;
    border-radius: 5px;
    transition: .2s;
    border: none;
    span{
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url("../icons/telephone.svg");
            background-size: cover;
            width: 20px;
            height: 20px;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &:hover{
        color: #fff;
        background-color: rgb(5, 50, 89);
        span{
            position: relative;
            &::before {
                background-image: url("../icons/telephone-fill.svg");
            }
        }
    }
}
@mixin h2Title {
    color: rgba(25,109,182,1);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    span{
    position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: #45e783;
            left: -120px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            content: '';
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: #45e783;
            right: -120px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}