.header {
    background-color: rgb(25, 109, 182);
    padding: 3px 0;
}
.header__box {
}
.header__title {
    text-align: center;
    font-size: clamp(32px,5vw,64px);
    color: #fff;
    font-weight: 600;
}