.cleaning {
}
.cleaning__title {
    @include h2Title;
    margin: 30px 0 20px;
}
.cleaning__box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.cleaning__left {
    display: flex;
    align-items: center;
}
.cleaning__txt {
    line-height: 25px;
}
.cleaning__right {
}
.cleaning__img {
    width: 100%;
}